.post {
    margin-bottom: 20px;
    display: flex;
}

.post p {
    margin: 0;
    font-size: 14px;
}

.post img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    float: left;
    margin-right: 5px;
}

.like {
    margin-left: 10px;
}