* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background: #EDEEF0;
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.social_network {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 16px;
}

.main_content {
    width: 100%;
    background: #fff;
    padding: 15px 20px;
    border-radius: 6px;
    min-height: 500px;
}


























